<div class="table-responsive">
    <table class="table table-secondary">
        {{#each messages}}
            <tr>
                <td class="w-25 user">
                    {{user}}
                </td>
                <td class="w-25 dateMsg">
                    {{dateMsg}}
                </td>
                <td class="msg">
                    {{msg}}
                </td>
            </tr>
        {{/each}}
    </table>
</div>